@import url('https://fonts.googleapis.com/css?family=Anton|Lobster|Roboto+Condensed|Staatliches');
/*
Use fonts like this:
font-family: 'Roboto Condensed', sans-serif;    | For normal text
font-family: 'Anton', sans-serif;               | Good headline font
font-family: 'Staatliches', cursive;            | Good headline font  
font-family: 'Lobster', cursive;                | A cursive, almost handwritten font
*/

body{
  background-color: #12125b;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
.app-wrapper {
  width: calc(100vw-(100%-100vw));
  height: auto;
  min-height: 100vh;
  background-color: #12125b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
*:focus {
  outline-style: none;
}
h1,h2,h3,h4 {
  font-family: 'Staatliches', cursive;  
  color: white;
}
.date-details{
  font-family: 'Lobster', cursive;
}
em {
  font-family: 'Lobster', cursive;
  font-size: 12px;
  color: grey;
  align-self: flex-end;
}
p, b {
  color: white;
}
    /*|--NAVIGATION--|*/
#navbar-container {
  padding: 0 25px;
  width: 100%;
  height: 70px;
  background-color: #a10b00;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-bottom: 5px solid #fdde4a; 
}
.navbar-left{
height: 100%;
width: 50%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
box-sizing: border-box;
}
.navbar-right{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  }
.nav-logo{
  width: 15%;
}

.nav-social-media {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.nav-social-media > a {
  height: 40px;
  width: 40px;
}
.nav-social-media > img {
  height: 40px;
  box-sizing: border-box;
}
.nav-links {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-right: 50px;
}
.nav-link {
  height: 100%;
  width: auto;
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  font-family: 'Staatliches', cursive;  
}
.nav-link > img {
  width: 40px;
}
.logout-button{
  height: 100%;
  width: auto;
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  font-family: 'Staatliches', cursive;  
  background-color: transparent;
  cursor: pointer;
  border: none;
}
/*fixed-main-content -- Height is fixed to be 100vh and no scroll*/
.main-container-fixed{
  overflow: hidden;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.main-inner-left-container-fixed, .main-inner-right-container-fixed .main-inner-left-container-fixed-login-component {
  width: 50%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
    /*|--LOGIN--|*/
.main-inner-left-container-fixed-login-component {
  height: 100vh;
  width: 50%;
  background-image: url("./Images/home.png");
  background-size: cover;
  background-repeat: none;
}
.image-filter {
  background-color: rgba(18, 18, 91, 0.5);
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.main-inner-right-container-fixed {
  width: 50%;
  height: 100vh;
  background-color: #12125b;;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main-inner-right-inner-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main-inner-right-inner-container > img {
  height: 150px;
  margin: 0;
  padding: 0;
}
.main-inner-right-inner-container > form {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  min-height: 30%;
  max-height:70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.login-input {
  margin: 0;
  height: 35px;
  width: 26%;
  padding: 2px 7px;
  background-color: #fdde4a;
  color: white;
  border: solid 0.5px whitesmoke;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}
.login-input > ::placeholder{
  color: white;
  padding: 0;
  margin: 0;
}
 .login-button{
  background-color: #a10b00;
  width: 15%;
  height: 35px;
  padding: 2px 7px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: white;
}
.login-button:hover {
  cursor: pointer;
}
.main-container-fixed-with-navbar{
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.main-inner-left-container-fixed-events-component {
  height: 100%;
  width: 50%;
  background-image: url("./Images/events-ng.png");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  overflow:hidden;
}
.main-inner-right-container-fixed-events-component {
  width: 50%;
  min-height: 100%;
  background-color: #12125b;;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main-inner-right-container-event-events-component {
  width: 50%;
  min-height: 100%;
  background-color: #12125b;;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
}
/*main-content that is not fixed in height*/
.main-container{
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.main-inner-left-container{
  min-height: 100%;
  width: 50%;
  background-color: black;
  background-image: url("./Images/vgk-logo.png");
  background-size: 180%;
  background-repeat: no-repeat;
  background-position: left;
}
.main-inner-right-container{
  background-color: #12125b;
  min-height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main-inner-right-container-home-component{
  background-color: rgba(0,0,0,0.4);
  width: 80%;
  padding: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  color: white;
}
/* Calendar */
.calendar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 75%;
}
.calendar-header{
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(214, 26, 12, 0.8);
}
.calendar-body-div{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.calendar-day-headline{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(214, 26, 12, 0.8);
  border-bottom: #fdde4a 2px solid;
}
.calendar-day-headline > p {
  width: 14.2857142%;
  text-align: center;
  color: white;
}
.calendar-dates-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(18, 18, 91, 0.8);
}
.weekday {
  width: 14.2857142%;
  height: auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.calendar-date-div{
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.calendar-date-div:hover {
  cursor: pointer;
  background-color: rgba(214, 26, 12, 0.65);
}
.calendar-date-div > p {
  text-align: center;
  color: white;
}
.calendar-no-date-div{
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}
.calendar-no-date-div > p {
  text-align: center;
  height: 30px;
  font-size: 0.5px;
  color: transparent;
}

/* EVENT-DETAILS */
.event-details-container {
  min-height: 100px;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.event-details-header {
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #a10b00;
}
.event-details-body-infobox-header {
  margin-top: 15px;
  margin-bottom: 15px;
}
.event-details-body{
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-bottom: 25px;
}
.event-details-body-infobox{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: solid 1px #fdde4a;
  padding-bottom: 10px;
}
.event-details-body-infobox-body {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.infobox-body-time {
  width:100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.infobox-body-where {
  width:100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.infobox-body-addInfo {
  width:100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.infobox-body-time > div, .infobox-body-where > div, .infobox-body-addInfo > div {
  width: 56%;
  background-color: rgba(253, 222, 74, 0.8);
  border: solid 0.5px #12125b;
  border-radius: 2px;
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding: 5px 0;
}
.infobox-body-time > p, .infobox-body-where > p, .infobox-body-addInfo > p {
  width: 20%;
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
}
.filler-div {
  width: 20%;
  height: 1px;
  font-size: 0.1px;
  color: transparent;
}
.event-details-body-subheader {
  margin: 10px 0;
}
.event-details-body-invited-list {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.event-details-body-invited-list > div {
  width: 33.333333333%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5px 0 2.5px 10px;
}
.username{
  font-size: 0.7em;
}
.event-details-footer {
  min-height: 45px;
  width: 100%;
  background-color: #a10b00;
}

/*---!!!  ROSTER_COMPONENT  !!!---*/
.main-inner-left-container-roster {
  min-height: 100%;
  width: 50%;
  background-color: #12125b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 15px;
}
.main-inner-right-container-roster {
  min-height: 100%;
  width: 50%;
  background-color: #12125b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 15px;
}
.players-defense-and-goalies-container {
  min-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0 ,0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.def-goal-headline {
  background-color: #a10b00;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
}
.player-list {
  padding: 10px 0;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.player-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 27%;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: #a10b00;
  margin: 10px 0;
  
}
.player-card > img {
  width: 100%;
}
.player-card > div {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5px 5px 5px;
}
.player-card > div > em {
  color: rgba(155, 155, 155, 0.9);
}
.players-number {
  font-weight: bolder;
  color: #fdde4a;
  font-size: 20px;
}
.team-list{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}
.team-list > p {
  text-align: right;
}